
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:ital@1&family=Oswald&family=Roboto&family=Roboto+Slab:wght@500&family=Skranji&family=Ubuntu&display=swap');


  *{
    box-sizing: border-box;
  }
.second{
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 10px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.third{
    /* display: inline-block; */
    float: absolute;

}

.main-contain{
    border: 2px solid white;
    width: 740px;
    height: 1000px;
margin:0 auto;

background-color: whitesmoke;

}
h4{
    float: right;

}
.imgs{
float: left;
height: 70px;
background-repeat: no-repeat;
margin-left: 15px;
}

.gra{
    text-align: center;
    text-decoration: bold;
}
header{
    padding: 10px;
    word-spacing:10px;
}
.tbl{
    margin: 10px;
    
}
#name1, #sym1 ,#cls1, #dob1{
    border-bottom: 2px dashed black;
}